body
{
  margin: 0; padding: 0;
  background: rgb(254, 80, 79);
}

h2 {
  color: white;
  text-align: center;
  font-family: Helvetica;
}

.angular-center-container {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:table;
  pointer-events: none;
  z-index:9999;
}
.angular-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
