body
{
  margin: 0; padding: 0;
  background: rgb(254, 80, 79);
}

h2 {
  color: white;
  text-align: center;
  font-family: Helvetica;
}

.angular-center-container {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:table;
  pointer-events: none;
  z-index:9999;
}
.angular-centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#animation{
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 100px;
  border-bottom: 5px dotted rgb(254, 80, 79);
  background-color: white;
}

#torri{
  position: absolute;
  bottom: 0;
  left: 0;
}

#gazometro{
  position: absolute;
  bottom: 0;
  right: 0;
}

#man{
  position: absolute;
  bottom: 0;
  left: 150px;
}
